.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.container {
    row-gap: 20px;
    width: 200px;
}

.input-container {
    column-gap: 10px;
}

.input {
    border: 0px;
    border-bottom: 1px solid black;
    width: 50px;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
}

.header {
    font-size: 1.5rem;
    margin: 0;
}

.button {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem
}